.main-back{
    width:100vw;
    height:100vh;
    background-image:url(../image/info_bgr_2.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    margin:0;
}

