<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/chat_page.css" rel="stylesheet">
    <title>Inha ChatBot</title>
</head>
<body style="margin:0">
        <div class="top_div">
            <image class="robot_img" src="../static/image/robot_white.png"></image>
            <image class="logo" src="../static/image/login_logo.png"></image>
            <div class="top_left_logo">INHA Chat</div>
        
        <div id="answerContainer" class="answer_container">
                <!-- 답변을 출력할 공간 -->
        </div>

        <div class="text_div">
            <form id="questionForm">
                <input class="bt_text" type="text" name="question" placeholder="Enter any text here...">
            </form>
        </div>
    

    <script>
        var questionForm = document.getElementById('questionForm');
        var answerContainer = document.getElementById('answerContainer');

        function getAnswer(question) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/get_answer', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var answer = response.answer;
                        var data = response.data;
                        displayAnswer(undefined, answer, data);
                    } else {
                        console.error('Error:', xhr.status);
                    }
                }
            };
            var data = 'question=' + encodeURIComponent(question);
            xhr.send(data);
        }

        function scrollToBottom(){
            answerContainer.scrollTop = answerContainer.scrollHeight;
        }


        function displayAnswer(question = undefined, answer = undefined, data = undefined) {
            
            var qaContainer = document.createElement('div');
            qaContainer.className = 'qa_container';

            if (question !== undefined ){
                var questionElement = document.createElement('div');
                questionElement.className = 'question';
                questionElement.textContent = question;
                qaContainer.appendChild(questionElement);                
            }

            if (answer !== undefined){
                var answerElement = document.createElement('div');
                answerElement.className = 'answer';
                answerElement.textContent = answer;
                qaContainer.appendChild(answerElement);
            }

            if (data !== undefined || data == " "){
                
                console.log("data:", data);

                data = data.trim()

                if (data !==""){
                    var answerElement = document.createElement('div');
                    answerElement.className = 'answer';
                    var formattedData = data.replace(/\n/g, "<br>");
                    answerElement.innerHTML = formattedData;
                    
                    qaContainer.appendChild(answerElement);
                }
            }
            
            answerContainer.appendChild(qaContainer);
            scrollToBottom();
        }

        function initialize() {
            var initialQuestion = 'INHA chat';
            var initialAnswer = '안녕하세요! 다음과 같이 질문해보세요 ! \n\n ex) 오늘 메뉴 뭐야? 오늘 학생식당 메뉴 알려줘.';

            displayAnswer(initialQuestion, initialAnswer);
        }


        initialize();

        window.onload = function() {
            getAnswer('');
        };

        questionForm.addEventListener('submit', function(event) {
            event.preventDefault();

            var questionInput = document.querySelector('input[name="question"]');
            var question = questionInput.value;

            displayAnswer(question, undefined);
            getAnswer(question);

            questionInput.value = '';
        });


    </script>
</body>
</html>
